*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_Section{
    max-width: 600px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
.small{
    font-size: 20px;
}
.Form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.form_containt{
   display: flex;
   flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: aqua;
}
.button_containt{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: aqua;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.4s ease-in;
}
button:hover{
    background-color: #ccc;
    transition: 0.4s ease-out;
    color: black;
    cursor: pointer;
}
.text_control{
    grid-column: 1/span 2;
}
.text_control textarea{
    width: 100%;
}
@media (max-width:460px){
    .text_control{
        grid-column: 1/span 2;
    }
}
