/* h2 {
  color: aqua;
}
p {
  color: blueviolet;
}
a {
  color: rgb(210, 227, 19);
}
li {
  list-style: circle;
}
*/
/* h2 + p {
  font-size: 200%;
} */
/* li.special {
  color: orange;
  font-weight: bold;
}
span.special {
  color: blues;
} */
/* a:hover {
  color: aqua;
  text-decoration: none;
}
body h2 + p.special {
  color: yellow;
  background-color: black;
  padding: 5px;
} */
/* #heading {
  background-color: blue;
}
p#one {
  color: blueviolet;
} */
li[class~="a"] {
  color: royalblue;
}
